# Ignorer les fichiers compilés Python
__pycache__/
*.py[cod]

# Ignorer les bases de données SQLite
*.db
*.sqlite3

# Ignorer les fichiers journaux et temporaires
*.log
*.tmp
*.swp

# Ignorer les configurations d'environnement virtuel
venv/
.env
.envrc
env/
*.bak

# Ignorer les fichiers de configuration Streamlit
.streamlit/

# Ignorer les caches pip
pip-log.txt
pip-delete-this-directory.txt

# Ignorer les fichiers système
.DS_Store
Thumbs.db
